.footer {
  $sectionPaddingDesktop: 104px;
  $sectionPaddingMobile: 107px;

  position: relative;
  z-index: 2;
  padding: #{$sectionPaddingMobile / 2} 0;

  .footer__logo {
    display: block;

    margin-bottom: to-rem(26px);
  }

  h2 {
    font-size: to-rem(40px);
    line-height: 107.2%;
    font-weight: 400;

    padding-left: 50px;

    margin-bottom: to-rem(33px);

    strong {
      font-weight: 800;
    }
  }

  .legend {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #363636;
  }

  .link {
    color: #363636;
    font-weight: 700;
    font-size: 20px;
    line-height: 107.2%;
    text-transform: uppercase;

    display: block;

    margin-bottom: to-rem(20px);

    &:not(.link--title):hover {
      text-decoration: underline;
    }

    &.link--title {
      font-size: 18px;

      margin-bottom: to-rem(40px);
    }

    &.link--underline {
        text-decoration: underline;
    }
  }

  .social-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .last-column {
    display: flex;

    flex-direction: column;

    justify-content: space-between;
  }

  .lets-talk {
    display: flex;
    align-items: center;

    .link {
        margin-right: to-rem(35px);
    }
  }
}
