$headerDesktopHeight: to-rem(112px);
$headerMobileHeight: to-rem(120px);

#app {
  overflow-x: hidden;
}

main.page {
  padding-top: $headerMobileHeight;

  @media (max-width: breakpoint("max-desktop")) {
    padding-top: $headerDesktopHeight;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 997;

  .content__column > .content__row {
    margin-left: 0;
    margin-right: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;

    height: 100%;
  }
}

.header.header--desktop {
  height: $headerDesktopHeight;
  background-color: palette("white");

  .header__logo {
    display: flex;

    img {
      display: block;
    }
  }

  nav {
    display: flex;
    align-items: center;
    background-color: palette("white");

    a {
      font-weight: 700;
      display: inline;

      &:not(:hover) {
        color: palette("text");
      }
    }
  }
}

.header.header--mobile {
  top: to-rem(54px);

  background-color: transparent;

  .container {
    position: relative;
    z-index: 2;
  }

  .header__logo {
    width: to-rem(80px);
    height: to-rem(32px);

    transition: ease 0.3s;

    &.open {
      width: to-rem(116px);
      height: to-rem(32px);

      left: 50px;
    }
  }

  .header__humburguer {
    width: 20px;
    height: 14px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: palette("blue");
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }

    span:nth-child(1) {
      top: 0px;
    }

    span:nth-child(2),
    span:nth-child(3) {
      top: 7px;
    }

    span:nth-child(4) {
      top: 14px;
    }

    &.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    &.open span:nth-child(2) {
      transform: rotate(45deg);
    }

    &.open span:nth-child(3) {
      transform: rotate(-45deg);
    }

    &.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }

  .header--mobile__content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    transform: translateX(100%);

    background-color: palette("white");

    padding: to-rem(62px) 0;

    transition: ease 0.3s;

    &.open {
      transform: translateX(0%);
    }

    .header--mobile__content__links {
      width: 100%;

      padding-top: to-rem(114px);
      padding-bottom: to-rem(134px);

      li:not(:last-child) {
        margin-bottom: to-rem(25px);
      }

      a {
        font-weight: 800;
        font-size: to-rem(36px);
        line-height: to-rem(44px);

        color: palette("text", "light");
      }
    }

    .filled-button {
      width: 100%;

      margin-bottom: 1rem;
    }

    .social-buttons {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-top: to-rem(6px);

      .button--social {
        margin: 0;
        width: 100%;

        &:first-child {
          margin-right: 8px;
        }
        &:last-child {
          margin-left: 8px;
        }
      }
    }
  }
}
