.section-default--prices {
  .eclipse--green {
    width: to-rem(850px);
    height: to-rem(850px);
    top: 230px;
    left: 50%;
    z-index: 1;
  }
}

.price-page {
  .table-prices {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;

    td > div {
      display: flex;
      align-items: center;
      height: 100%;
    }

    &.table-prices--plans {
      margin-bottom: to-rem(120px);

      th,
      td {
        padding-left: to-rem(10px);
        padding-right: to-rem(10px);
      }

      td {
        text-align: right;
      }

      thead {
        tr th {
          font-weight: 800;
          font-size: to-rem(28px);
          text-align: right;
          line-height: 100%;

          padding-bottom: to-rem(10px);

          &:nth-child(2) {
            color: palette("button", "orange");
          }

          &:nth-child(3) {
            color: palette("button", "blue");
          }

          &:nth-child(4) {
            color: palette("button", "blue-dark");
          }

          &:nth-child(5) {
            color: palette("button", "blue-darkest");
          }
        }
      }
      tbody {
        span {
          display: inline-block;
          line-height: 100%;
        }

        tr {
          &:nth-child(1) span {
            height: 26px;
          }
          &:nth-child(2) span {
            height: 30px;
          }
          &:nth-child(3) span {
            height: 38px;
          }
        }

        .table-prices--plans__price-bold {
          font-weight: 700;
          font-size: to-rem(32px);
          text-align: center;

          color: palette("text", "light");
        }

        .table-prices--plans__price-light {
          font-weight: 400;
          font-size: to-rem(24px);
          text-align: center;

          color: palette("text", "light");
        }

        .button {
          width: 100%;
          padding: to-rem(10px);

          font-size: to-rem(14px);
          line-height: 17px;
        }
      }
    }

    &.table-prices--comparison {
      border-spacing: 30px;

      &:not(:last-of-type) {
        margin-bottom: to-rem(50px);
      }

      tr:nth-child(odd) td {
        padding-top: to-rem(22px);
        padding-bottom: to-rem(22px);
      }

      tbody tr:nth-child(even) {
        background-color: #f1f1ff;
      }

      &.start-with-purple-row {
        tr:nth-child(even) td {
          padding-top: to-rem(22px);
          padding-bottom: to-rem(22px);
        }
        tr:nth-child(odd) td {
          padding-top: 0;
          padding-bottom: 0;
        }

        tbody tr:nth-child(odd) {
          background-color: #f1f1ff;
        }

        tbody tr:nth-child(even) {
          background-color: transparent;
        }
      }

      thead {
        th {
          padding-bottom: to-rem(22px);
        }

        .item-content {
          margin-bottom: 0;
        }

        .item-content__text {
          text-align: left;
          font-size: to-rem(20px);
          font-weight: 700;

          color: palette("text", "light");
        }
      }

      tbody {
        tr td {
          font-weight: 400;
          font-size: to-rem(18px);
          color: palette("text", "light");

          text-align: center;
          line-height: 92.6%;

          padding: 1rem 0;

          vertical-align: middle;

          &:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            text-align: left;
            padding-left: 22px;
          }

          &:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }
      }
    }
  }

  .section-default--testimonials {
    .eclipse--pink {
      width: to-rem(1133px);
      height: to-rem(1133px);
      top: -210px;
      right: 50%;
    }

    .eclipse--green {
      width: to-rem(960px);
      height: to-rem(960px);
      top: 100%;
      left: 50%;
      z-index: 1;
    }

    .eclipse--purple {
      width: to-rem(960px);
      height: to-rem(960px);
      top: 50%;
      left: 50%;
      z-index: 1;
    }
  }
}
