.main-section {
  padding: to-rem(140px) 0 to-rem(180px);

  position: relative;

  &::after {
    content: "";

    display: block;

    background-image: url("@/assets/images/svg/home-main_section_line.svg");
    background-position: center;
    background-repeat: no-repeat;
    
    position: absolute;
    z-index: 2;
    bottom: 90px;
    right: -80px;
    width: 630px;
    height: 60px;
  }

  .eclipse--orange {
    width: to-rem(710px);
    height: to-rem(556px);
    left: -120px;
    bottom: -120px;
  }

  .eclipse--green {
    width: to-rem(806px);
    height: to-rem(781px);
    top: -180px;
    right: -60px;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  p {
    font-weight: 400;
    font-size: to-rem(36px);
    line-height: to-rem(44px);

    color: palette("text", "light");

    margin-bottom: to-rem(63px);
  }

  .button {
    @media screen and (min-width: breakpoint("desktop")) {
      margin-right: 1rem;
    }
  }
}
