.footer {
  $sectionPaddingDesktop: 104px;
  $sectionPaddingMobile: 107px;

  position: relative;
  z-index: 1;
  padding: #{$sectionPaddingMobile / 2} 0;

  @media (max-width: breakpoint("desktop")) {
    padding-top: 0;
  }

  .footer__logo {
    display: block;

    margin-bottom: to-rem(26px);

    @media (max-width: breakpoint("desktop")) {
      width: to-rem(116px);
      height: to-rem(32px);
      object-fit: contain;
    }
  }

  h2 {
    font-size: to-rem(20px);

    line-height: 107.2%;
    font-weight: 400;

    padding-left: 35px;

    margin-bottom: to-rem(33px);

    @media screen and (min-width: breakpoint("desktop")) {
      font-size: to-rem(40px);
      padding-left: 50px;
    }

    strong {
      font-weight: 800;
    }
  }

  .legend {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #363636;
  }

  .link {
    color: #363636;
    font-weight: 700;
    font-size: 16px;
    line-height: 107.2%;
    text-transform: uppercase;

    display: block;

    margin-bottom: to-rem(12px);

    @media screen and (min-width: breakpoint("desktop")) {
      font-size: 20px;
      margin-bottom: to-rem(20px);
    }

    &:not(.link--title):hover {
      text-decoration: underline;
    }

    &.link--title {
      font-size: 14px;

      margin-top: 22px;
      margin-bottom: to-rem(24px);

      @media screen and (min-width: breakpoint("desktop")) {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: to-rem(40px);
      }
    }

    &.link--underline {
      text-decoration: underline;
    }
  }

  .social-buttons {
    display: flex;
    justify-content: flex-end;

    @media (max-width: breakpoint("desktop")) {
      width: 100%;
      justify-content: center;

      .button--social {
        width: 100%;
        max-width: 250px;

        margin-left: 0;
        margin-bottom: to-rem(36px);

        &:last-of-type {
          margin-left: 20px;
        }
      }
    }
  }

  .last-column {
    display: flex;

    flex-direction: column;

    justify-content: space-between;
  }

  .lets-talk {
    display: flex;
    align-items: center;

    @media (max-width: breakpoint("desktop")) {
      justify-content: center;
    }

    .link {
      margin-right: to-rem(35px);

      @media (max-width: breakpoint("desktop")) {
        margin-right: to-rem(12px);
        font-size: 20px;
      }

      img {
        @media (max-width: breakpoint("desktop")) {
          width: to-rem(28px);
          display: inline-block;
        }
      }
    }
  }
}

// .lets-talk-chat-link,
[id^="popup"]
  #bricks-component-hLZAjZ68zhvyAWN4hu76WQ-wrapper.rdstation-popup-position-bottom_right.floating-button.floating-button--close {
  position: fixed !important;
  z-index: 998 !important;
  bottom: 30px !important;
  right: calc((100% - 1272px) / 2) !important;

  @media screen and (max-width: 1290px) {
    right: 5px !important;
  }

  @media (max-width: breakpoint("desktop")) {
    // display: none;
  }
}
