.section-default--testimonials {
  .section-default__card--testimonials {
    .section-default__card--testimonials__header {
      display: flex;
      align-items: center;
      margin-bottom: to-rem(52px);

      h2 {
        margin-bottom: 0;

        font-weight: 400;

        @media screen and (min-width: breakpoint("desktop")) {
          width: calc(100% - 250px);
        }

        strong {
          font-weight: 800;
        }
      }
    }

    .button {
      width: 100%;
      font-size: to-rem(20px);
      line-height: to-rem(25px);

      padding: to-rem(13px) to-rem(38px);

      @media screen and (min-width: breakpoint("desktop")) {
        width: to-rem(250px);
      }
    }
  }

  .testimonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 0px;

    @media (max-width: breakpoint("desktop")) {
      overflow-x: scroll;
    }

    .testimonials__card {
      width: to-rem(276px);

      // border-radius: 10px;
      // overflow: hidden;

      position: relative;

      cursor: pointer;

      @media (max-width: breakpoint("desktop")) {
        // overflow-x: scroll;
        margin-bottom: 2rem;
      }

      @media screen and (min-width: breakpoint("desktop")) {
        grid-column-gap: 63px;

        overflow-x: visible;
      }

      &::after {
        content: "";
        display: block;

        width: to-rem(52px);
        height: to-rem(52px);

        background-image: url("@/assets/images/svg/icons/icon-play-circle.svg");
        background-position: center;
        background-repeat: no-repeat;

        position: absolute;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        z-index: 2;
      }

      .testimonials__click-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        cursor: pointer;

        display: block;
      }

      img {
        width: 100%;
      }

      .instagram-media {
        width: 100%;
        min-width: auto !important;
        margin: 0 !important;
      }

      // &.testimonials__card--modal {
      //   .testimonials__click-area {
      //     display: none;
      //   }

      //   .testimonials__overlay {
      //     width: 100%;
      //     height: 100%;

      //     position: fixed;
      //     top: 0;
      //     left: 0;
      //     z-index: 998;

      //     background-color: palette("black");
      //     opacity: 0.8;
      //   }

      //   .instagram-media {
      //     margin: 0 auto;

      //     background-color: palette("white");

      //     position: fixed;

      //     top: 0;
      //     left: 0;

      //     z-index: 999;

      //     transition: ease 0.3s;

      //     overflow: hidden;

      //     @media screen and (min-width: breakpoint("desktop")) {
      //       width: calc(50% + -560px);
      //       height: 80%;

      //       border-radius: 10px;

      //       top: 15%;
      //       left: 50%;

      //       transform: translateX(-50%);
      //     }
      //   }
      // }
    }
  }
}
