.form {
  .form-container {
    // padding: to-rem(20px);
    padding: 3.125rem;
  }

  .divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;

    color: #393939;

    margin-bottom: to-rem(18px);
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #393939;

    margin-bottom: 1rem;
  }
}

.input-columns {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: breakpoint("desktop")) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .input-field {
    width: 100%;
    margin-bottom: 1rem;

    @media screen and (min-width: breakpoint("desktop")) {
      width: calc(50% - 6px);
      margin-bottom: to-rem(28px);
    }
  }
}

.input-field {
  margin-bottom: 1rem;

  label {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #393939;
    display: block;

    margin-bottom: to-rem(18px);
  }

  input[type="text"],
  .input-field__select-area__select {
    background: #f6f6f6;
    border-radius: 4px;
    border: none;

    width: 100%;

    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;

    color: #393939;

    padding: 12px;

    &::placeholder {
      font-family: "Redonda";
      font-weight: 400;
      font-size: 1rem;
      line-height: 22px;

      color: #7b7b7b;
    }

    &:focus,
    &:focus-visible,
    &:active,
    &::selection {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  .input-field__select-area {
    position: relative;

    .input-field__select-area__select {
      width: 100%;
      display: block;
      appearance: none;

      position: relative;

      outline: none;
    }

    &::after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;

      width: 20px;
      height: 20px;

      display: block;
      background-image: url("@/assets/images/svg/icons/icon-select-angle-down.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .input-field__radio-item {
    .input-field__radio-item__option {
      width: 100%;

      position: relative;
      cursor: pointer;

      @media screen and (min-width: breakpoint("desktop")) {
        width: auto;
      }

      .input-field__radio-item__input {
        width: to-rem(20px);
        height: to-rem(20px);
        position: absolute;
        top: 4px;
        left: 0;
        opacity: 0;
        z-index: 1;
      }

      .input-field__radio-item__radio {
        width: to-rem(20px);
        height: to-rem(20px);
        border: 2px solid palette("text", "light");
        border-radius: 50%;
        position: absolute;
        top: 4px;
        left: 0;
        z-index: 2;

        &::after {
          content: "";
          display: block;

          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          transform: scale(0);

          border-radius: 50%;

          background-color: #5956fe;

          transition: ease 0.3s;
        }
      }

      .input-field__radio-item__input:checked + .input-field__radio-item__radio,
      .input-field__radio-item__radio--checked {
        border-color: #5956fe;
      }

      .input-field__radio-item__input:checked
        + .input-field__radio-item__radio::after,
      .input-field__radio-item__radio--checked::after {
        transform: scale(1.1);
      }

      .input-field__radio-item__text {
        font-size: 1.2rem;
        line-height: 139.1%;
        color: #393939;
        margin-left: 36px;

        @media screen and (min-width: breakpoint("desktop")) {
          font-size: 20px;
          display: block;
        }
      }
    }
  }

  .input-field__radio-item--filled {
    background: #f1f2f6;
    border-radius: 8px;

    padding: to-rem(20px) to-rem(24px);

    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: breakpoint("desktop")) {
      flex-direction: row;
    }

    &:not(.input-field__radio-item--highlight) {
      cursor: pointer;
    }

    &.input-field__radio-item--highlight {
      background: #d9edf8;
      border: 1px solid #4380e5;
      border-radius: 4px;
    }

    .input-field__radio-item__more-info {
      border-radius: 4px;
      padding: 10px;

      width: 100%;

      margin-top: 1rem;

      font-weight: 700;
      font-size: 14px;
      line-height: 17px;

      color: #006369;
      text-align: center;

      @media screen and (min-width: breakpoint("desktop")) {
        width: 208px;
        margin-top: 0;
      }

      &.input-field__radio-item__more-info--green {
        background: #c4f0f3;
      }

      &.input-field__radio-item__more-info--white {
        background: #fff;
      }
    }
  }

  .input-field__range-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: to-rem(290px);
    height: to-rem(46px);

    .input-field__range-number__button {
      background-color: #d0d4f9;
      width: to-rem(48px);
      height: 100%;

      cursor: pointer;

      font-weight: 400;
      font-size: to-rem(22px);
      line-height: to-rem(22px);

      color: #4380e5;

      display: flex;
      align-items: center;
      justify-content: center;

      border: none;
      box-shadow: none;

      padding: 0 1rem;

      &--minus {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &--plus {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }

    .input-field__range-number__input {
      width: 100%;
      height: 100%;
      display: block;

      border-radius: 0;
      text-align: center;

      font-weight: 400;
      font-size: to-rem(18px);
      line-height: to-rem(18px);
      color: palette("text", "light");

      border: none;
      border-top: 1px solid #b7b7b7;
      border-bottom: 1px solid #b7b7b7;

      &:active {
        border: none;
      }
    }
  }
}

.input-field--error {
  .input-field__select-area {
    .input-field__select-area__select {
      border-color: palette("error");
      color: palette("error");
    }

    &::after {
      background-image: url("@/assets/images/svg/icons/icon-select-angle-down-error.svg");
    }
  }

  &.input-field__radio-item--filled {
    border: 1px solid palette("error");

    .input-field__radio-item__option .input-field__radio-item__text {
      color: palette("error");
    }
  }

  input[type="text"] {
    border: 1px solid palette("error");
    color: palette("error");
  }
}

.helper-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;

  margin-top: 1rem;

  &.helper-text--error {
    color: palette("error");
  }
}
